[submodule "third_party/CTranslate2"]
	path = third_party/CTranslate2
	url = https://github.com/OpenNMT/CTranslate2.git
[submodule "third_party/FunASR"]
	path = third_party/FunASR
	url = https://github.com/modelscope/FunASR.git
[submodule "third_party/cppjieba"]
	path = third_party/cppjieba
	url = https://github.com/yanyiwu/cppjieba.git
[submodule "third_party/openless"]
	path = third_party/openless
	url = https://github.com/Open-Less/openless.git
[submodule "third_party/sentencepiece"]
	path = third_party/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "third_party/whisper.cpp"]
	path = third_party/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp
